body {
  font-family: Arial, sans-serif;
  background: rgb(197, 231, 226);
  margin: 1.5px;
  padding: 20px;
}

nav {
  background: #1e90ff;
  padding: 15px;
  color: black;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 90px;
}

.btn {
  background: green;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

form {
  background: white;
  padding: 30px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
}

input, textarea, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.card {
  background: white;
  padding: 15px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 5px;
}
